:root {
  --cor-de-fundo: #EBECEE;
  --branco: #FFFFFF;
  --laranja: #EB9B00;
  --color-itens: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --fonte-principal: 'Poppins', sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.container {
  display: flex;
  align-items: center;
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cabecalho__menu-hamburger {
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/Menu.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.container__botao {
  display: none;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked~.lista-menu {
  display: block;
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--color-itens);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.lista-menu__titulo, .lista-menu__item {
  padding: 1em;
  background-color: var(--branco);

}

.container__imagem {
  padding: 1em;
}