:root {
  --cor-de-fundo: #EBECEE;
  --branco: #FFFFFF;
  --laranja: #EB9B00;
  --color-itens: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --fonte-principal: 'Poppins', sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

/* ------------ HEADER ----------*/

.container {
  display: flex;
  align-items: center;
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cabecalho__menu-hamburger {
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/Menu.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.container__botao {
  display: none;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked~.lista-menu {
  display: block;
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--color-itens);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.lista-menu__titulo, .lista-menu__item {
  padding: 1em;
  background-color: var(--branco);

}

.container__imagem {
  padding: 1em;
}

/* ----------- BANNER ----------*/

.banner {
  background: var(--color-itens);
  color: var(--branco);
  text-align: center;
  padding: 2.5em 2em;
}

.banner__titulo {
  font-size: 18px;
  font-weight: 700;
}

.banner__texto {
  font-weight: 500;
  margin: 1em 0;
}

.banner__pesquisa {
  background-color: transparent;
  border: 1px solid var(--branco);
  color: var(--branco);
  border-radius: 24px;
  padding: 1em;
  width: 100%;
}

.banner__pesquisa::placeholder {
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--branco);
  background: url(/assets/images/Pesquisa.svg) no-repeat;
  background-position: 1em;
}



/* ----------- CARROSSEL ----------*/

.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: .5em 0;
}